 <style>
        .container {
            display: flex;
            flex-direction: column;
            background-color: rgba(9, 2, 25, 0.912);
            padding : 40px;
        }
        .box {
            background-color: #4CAF50;
            color: rgb(86, 231, 24);
            padding: 20px;
            text-align: center;
            flex: 1 1 calc(33.333% - 40px);
            box-sizing: border-box;
        }
        .box-1 { background-color: #ff5733; }
        .box-2 { background-color: #33c1ff; }
        .box-3 { background-color: #75ff33; }
        .box-4 { background-color: #eb24c0; }
        .box-5 { background-color: #ffbd33; }
        .box-6 { background-color: #8e33ff; }
</style>