body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
    margin:20px;
}
h1
{
color: black;
margin-bottom: 30px;
}
.product-box
{
background-color: green;
width: 300px;
margin: 0 auto;
padding: 15px;
border: 2px solid black;
border-radius: 8px;
}
.product-image
{
    width: 100px;
    height: auto;
    border-radius: 5px;
}
.description
{
color: dimgray;

}
.price
{
   color: red;
   font-weight: bold;
   margin-bottom: 15px;
}
button
{
background-color: blue;
color: white;
border-radius: 5px;
cursor: pointer;
}