
.block-menu a {
    display: block;
    background: #0e0e0e;
    color: rgb(226, 12, 12);
    padding: 15px;
    margin: 5px 0;
    text-decoration: none;
}

.inline-menu a {
    display: inline;
    background: #161616;
    color: rgb(249, 97, 9);
    padding: 8px 12px;
    margin-right: 8px;
    text-decoration: none;
    border-radius: 5px;
}
.inline-block-menu a {
    display: inline-block;
    background: #0f0f0f;
    color: rgb(189, 222, 26);
    padding: 10px 18px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.float-menu a {
    float: left;
    background: #141414;
    color: rgb(195, 21, 21);
    padding: 12px 20px;
    margin-right: 12px;
    text-decoration: none;
    border-radius: 5px;
}

.clear {
    clear: both;
}